<template>
  <div class="minesweeper">
    <div 
      class="row"
      v-for="(row, i) in grid"
      :key="i"
    >
      <div 
        v-for="(cell, j) in row"
        :key="j"
        :class="cell.classes"
        @click.right="addFlag(cell)"
        @contextmenu.prevent
        class="cell"
        >
        <span v-if="cell.flagged">
          <img :src="flagImg" width="25px"/>
        </span>
      </div>
    </div>
    <span>{{ bombCount }}</span>
    <span>{{ state }}</span>
  </div>
</template>

<script>
export default {
  name: 'Minesweeper',
  props: {
    msg: String
  },
  data: () => ({
    rows: 10,
    cells: 10,
    bombs: 10,
    grid: [],
    bombCount: 10,
    flagImg: require('@/assets/south-korea.png'),
    finished: false,
    state: 'playing'
  }),
  methods: {
    startGame () {
      var grid = []

      for (let r = 0; r < this.rows; r++) {
        var row = []
        for (let c = 0; c < this.cells; c++){
          row.push({
            hasBomb: false,
            checked: false,
            flagged: false,
            classes: []
          })
        }
        grid.push(row)
      }

      while (this.bombs > 0) {
        const r = Math.floor(Math.random() * this.rows)
        const c = Math.floor(Math.random() * this.cells)
        if (grid[r][c].hasBomb === false){
          grid[r][c].hasBomb = true
          this.bombs -= 1
        }
      }
      this.state = 'playing'
      this.finished = false
      this.grid = grid
    },
    addFlag (cell) {
      if (this.finished) {
        return
      }
      if (cell.checked) {
        return
      }
      cell.flagged = !cell.flagged
      if (cell.flagged) {
        cell.classes = cell.classes.filter((obj) => {obj === 'flagged'})
        this.bombCount += 1
      } else {
        cell.classes.push('flagged')
        this.bombCount -= 1
      }
    },
    checkCell (cell) {
      if (this.finished) {
        return
      }
      if (cell.checked) {
        return
      }
      if (cell.flagged) {
        return
      }
      if (cell.hasBomb) {

        this.state = 'lost'
        this.finished = true
        return
      }

    }
  },
  created () {
    this.startGame()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .row {
    display: flex;
  }

  .cell {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
  }

  .bomb {
    background-color: rgb(231, 127, 127)!important;
  }

  .checked {
    background-color: rgba(0,0,0,0.05);
  }

  .flagged {
    background-color: rgb(89, 196, 135);
  }
</style>
